* {
  margin: 0;
  padding: 0;
}

.body-main-page {
  height: 100vh;
  width: 100vw;
  background-color: rgb(16, 65, 172, 0.842);
  background-image: url('../images/backgroundImg.jpeg');
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.header-main-page {
  display: flex;
  justify-content: space-between;
  gap: 110px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 20px;
  width: 350px;
}

.name-main-page {
  font-size: 14px;
  color: white;
}

.main-main-page {
  background-color: rgba(255, 255, 255, 0.726);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 460px;
  padding: 5px;
  border: none;
  border-radius: 15px;
  box-shadow: 4px 2px 1px rgba(0, 0, 0, 0.507);
}

.container-main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description-main-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 5px;
  font-size: 13px;
  color: rgba(0, 0, 0, 0.705);
}

.pts-user-main-page {
  background-color: rgb(8, 34, 121);
  border-radius: 12px;
  height: 20px;
}

.bara-main-page {
  background-color: rgb(162, 162, 238);
  border-radius: 12px;
  width: 300px;
  height: 20px;
  margin-bottom: 20px;
}

.buttons-main-page {
  display: flex;
  flex-direction: column;
}

.trocar-pontos-main-page {
  background-color: black;
  border-radius: 11px;
  margin-bottom: -3px;
  height: 33px;
}

.compartilhar-main-page {
  background-color: black;
  border-radius: 11px;
  margin-bottom: -4px;
  height: 33px;
}

.assistir-main-page {
  background-image: linear-gradient(to right, black, blue);
  border-radius: 11px;
}

@media screen and (max-width: 599px) {
  .main-main-page {
    background-color: rgba(255, 255, 255, 0.726);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 2px 1px rgba(0, 0, 0, 0.507);
  }

  .header-main-page {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    width: 300px;
  }

  .trocar-pontos-main-page {
    background-color: black;
    border-radius: 11px;
    margin-bottom: -3px;
    height: 33px;
    width: 250px;
  }
  
  .compartilhar-main-page {
    background-color: black;
    border-radius: 11px;
    margin-bottom: -4px;
    height: 33px;
    width: 250px;
  }
  
  .assistir-main-page {
    background-image: linear-gradient(to right, black, blue);
    border-radius: 11px;
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .main-main-page {
    background-color: rgba(255, 255, 255, 0.726);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 5px;
    border: none;
    border-radius: 15px;
    box-shadow: 4px 2px 1px rgba(0, 0, 0, 0.507);
    overflow: hidden;
  }

  .header-main-page {
    display: flex;
    justify-content: space-between;
    gap: 110px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-top: 20px;
    width: 280px;
  }
}