.body-passord-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.body-passord-page h1 {
  font-size: 18px;
  text-align: center;
}

.main-passord-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.main-passord-page input {
  padding-left: 10px;
}

.main-passord-page button {
  width: 160px;
}