* {
    margin: 0;
    padding: 0;
  }

.container-privete-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundImg.jpeg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudo-privete-video {
    background-color: rgba(248, 248, 248, 0.842);
    display: flex;
    color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    max-width: 50vh;
    flex-direction: column;
    height: 83vh;
    padding: 12px 80px;
    border-radius: 10px;
    box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
}

.header-privete {
    display: flex;
    justify-content: space-between;
    gap: 0px;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: -10px;
    width: 335px;
}

.name-privete {
    font-size: 14px;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.pts-privete {
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.div-regras {
  font-size: 14.2px;
  font-weight: 500;
  color: rgb(63, 29, 63);
  width: 320px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  text-align: start;
  margin-bottom: 8px;
}

.imgPrevete {
    width: 8vh;
    margin-bottom: 10px;
    margin-top: 5px;
}

.title-video-privete {
    margin-bottom: -5px;
    font-weight: 600;
    font-size: 36px;
    color: #000000;
}

.text-instrution {
    font-size: 16px;
    font-weight: 70;
    color: rgb(46, 44, 46);
    width: 63vh;
    margin-bottom: 3px;
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 5px;
}

.name-user {
  margin-bottom: 0px;
}

.button-play {
  margin-top: 0px;
}

.button-email {
  margin-bottom: 110px;
}

@media screen and (max-width: 599px) {
  .container-privete-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundImg.jpeg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-privete {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: -10px;
  width: 300px;
}

    .name-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }
    
    .pts-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }

    .conteudo-privete-video {
      font-size: 14px;
      background-color: rgba(248, 248, 248, 0.842);
      display: flex;
      color: rgb(255, 0, 0);
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      width: 290px;
      flex-direction: column;
      height: 80vh;
      padding: 10px 23px;
      border-radius: 10px;
      box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
    }

    .text-instrution {
        font-size: 16px;
        font-weight: 70;
        color: rgb(46, 44, 46);
        width: 300px;
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 2px;
    }
      
      .button-play {
        width: 45vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .button-email {
        width: 45vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 20px;
        margin-bottom: 50px;
      }
}

@media screen and (max-width: 460px) {
  .container-privete-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundImg.jpeg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.header-privete {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-bottom: -10px;
  width: 300px;
}

    .name-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }
    
    .pts-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }

    .conteudo-privete-video {
      font-size: 14px;
      background-color: rgba(248, 248, 248, 0.842);
      display: flex;
      color: rgb(255, 0, 0);
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      width: 320px;
      flex-direction: column;
      height: 80vh;
      padding: 10px 32px;
      border-radius: 10px;
      box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
    }

    .text-instrution {
        font-size: 16px;
        font-weight: 70;
        color: rgb(46, 44, 46);
        width: 300px;
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 2px;
    }
      
      .button-play {
        width: 40vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .button-email {
        width: 40vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 20px;
        margin-bottom: 50px;
      }
}

@media screen and (max-width: 399px) {
  .container-privete-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundImg.jpeg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.div-regras {
  width: 310px;
  font-size: 13px;
}

.header-privete {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: -8px;
  width: 300px;
}

    .name-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }
    
    .pts-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }

    .conteudo-privete-video {
      font-size: 14px;
      background-color: rgba(248, 248, 248, 0.842);
      display: flex;
      color: rgb(255, 0, 0);
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      width: 290px;
      flex-direction: column;
      height: 83vh;
      padding: 13px 28px;
      border-radius: 10px;
      box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
    }

    .text-instrution {
        font-size: 16px;
        font-weight: 70;
        color: rgb(46, 44, 46);
        width: 300px;
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 2px;
    }
      
      .button-play {
        width: 30vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .button-email {
        width: 30vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 20px;
        margin-bottom: 50px;
      }
}

@media screen and (max-width: 350px) {
  .container-privete-main {
    height: 100vh;
    width: 100vw;
    background-image: url('../images/backgroundImg.jpeg');
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
}

.div-regras {
  width: 280px;
}

.header-privete {
  display: flex;
  justify-content: space-between;
  gap: 0px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-top: 100px;
  margin-bottom: 3px;
  width: 250px;
}

    .name-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }
    
    .pts-privete {
        font-size: 14px;
        color: rgb(251, 43, 91);
    }

    .conteudo-privete-video {
      font-size: 14px;
      background-color: rgba(248, 248, 248, 0.842);
      display: flex;
      color: rgb(255, 0, 0);
      margin-top: 10px;
      margin-bottom: 20px;
      justify-content: center;
      align-items: center;
      width: 380px;
      flex-direction: column;
      height: 93vh;
      padding: 18px 30px;
      border-radius: 10px;
      box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
      overflow-x: hidden;
      overflow-y: scroll;
      margin-top: 30px;
    }

    .text-instrution {
        font-size: 16px;
        font-weight: 70;
        color: rgb(46, 44, 46);
        width: 220px;
        padding: 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: column;
        text-align: start;
        margin-bottom: 2px;
    }
      
      .button-play {
        width: 45vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        margin-bottom: 50px;
      }

      .button-email {
        width: 45vh;
        height: 7vh;
        color: white;
        font-weight: bold;
        background-color: rgb(251, 43, 91);
        border: none;
        border-radius: 6px;
        margin-top: 20px;
        margin-bottom: 50px;
      }
}

@media screen and (min-width: 350px) and (max-width: 405px) {
  .conteudo-privete-video {
    background-color: rgba(248, 248, 248, 0.842);
    display: flex;
    color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    max-width: 30vh;
    flex-direction: column;
    height: 83vh;
    padding: 12px 80px;
    border-radius: 10px;
    box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
}

.name-privete {
  font-size: 14px;
  color: rgb(251, 43, 91);
  margin-top: 20px;
}

.pts-privete {
  font-size: 14px;
  color: rgb(251, 43, 91);
  margin-top: 20px;
}

.text-instrution {
  font-size: 17px;
  font-weight: 70;
  color: rgb(46, 44, 46);
  width: 42vh;
  margin-bottom: 3px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.button-play {
  width: 45vh;
  height: 7vh;
  color: white;
  font-weight: bold;
  background-color: rgb(251, 43, 91);
  border: none;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 50px;
}

.button-email {
  width: 45vh;
  height: 7vh;
  color: white;
  font-weight: bold;
  background-color: rgb(251, 43, 91);
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.name-user {
  width: 40vh;
  margin-bottom: 0px;
  font-size: 16px;
}
}

@media screen and (min-width: 460px) and (max-width: 599px) {
  .conteudo-privete-video {
    background-color: rgba(248, 248, 248, 0.842);
    display: flex;
    color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    max-width: 30vh;
    flex-direction: column;
    height: 83vh;
    padding: 12px 80px;
    border-radius: 10px;
    box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
}

.name-user {
  width: 47vh;
  margin-bottom: 0px;
  font-size: 16px;
}
}

@media screen and (min-width: 600px) and (max-width: 1800px) {
  .name-privete {
    font-size: 14px;
    color: rgb(251, 43, 91);
    margin-top: 20px;
  }
  
  .pts-privete {
    font-size: 14px;
    color: rgb(251, 43, 91);
    margin-top: 20px;
  }
}

@media screen and (min-width: 250px) and (max-width: 350px) {
  .conteudo-privete-video {
    background-color: rgba(248, 248, 248, 0.842);
    display: flex;
    color: rgb(255, 0, 0);
    margin-top: 20px;
    margin-bottom: 5px;
    justify-content: center;
    align-items: center;
    max-width: 18vh;
    flex-direction: column;
    height: 87vh;
    padding: 12px 80px;
    border-radius: 10px;
    box-shadow: 3px 2px 6px  rgba(16, 65, 172, 0.856) ;
}
}